/** Global */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Oxygen&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primaryColor: #2dbb54;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #111;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;

  --mainSpacing: 3rem;

  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --day: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  --night: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  --cloud: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  --rain: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  --thunder: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  --snow: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  height: 100vh;
  width: 100%;
  padding: var(--mainSpacing);
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  color: hsl(156, 34%, 19%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

.btn {
  /* display: inline-block; */
  border: 0;
}

.wrapper {
  max-width: 800px;
  height: calc(100vh - 3rem);
  margin: 0 auto;
}

/* Background **/
.day {
  background-image: var(--day);
  color: hsl(205, 91%, 92%);
}

.day .search__input {
  color: hsl(205, 91%, 92%);
  border-color: hsl(205, 91%, 92%);
}

.day .search__icon {
  color: hsl(205, 91%, 92%);
}

.night {
  background-image: var(--night);
  color: hsl(267, 79%, 92%);
}

.night .search__input {
  border-color: hsl(267, 79%, 92%);
  color: hsl(267, 79%, 92%);
}

.night .search__icon {
  color: hsl(267, 79%, 92%);
}

.rain {
  background-image: var(--rain);
  color: hsl(218, 24%, 35%);
}

.rain .search__input {
  border-color: hsl(218, 24%, 35%);
  color: hsl(218, 24%, 35%);
}
.rain .search__icon {
  color: hsl(218, 24%, 35%);
}

.clouds {
  background-image: var(--cloud);
  color: hsl(290, 12%, 48%);
}

.clouds .search__input {
  border-color: hsl(290, 12%, 48%);
  color: hsl(290, 12%, 48%);
}
.clouds .search__icon {
  color: hsl(290, 12%, 48%);
}

.thunder {
  background-image: var(--thunder);
  color: hsl(177, 29%, 84%);
}

.thunder .search__input {
  border-color: hls(177, 29%, 84%);
  color: hsl(177, 29%, 84%);
}
.thunder .search__icon {
  color: hsl(177, 29%, 84%);
}

.snow {
  background-image: var(--snow);
  color: hsl(214, 26%, 55%);
}

.snow .search__input {
  border-color: hsl(214, 26%, 55%);
  color: hsl(214, 26%, 55%);
}
.snow .search__icon {
  color: hsl(214, 26%, 55%);
}

/** Search */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.search__input {
  padding: 0.5em;
  margin: 0.2em;
  min-width: 70px;
  color: hsl(156, 34%, 19%);
  font-size: 0.8rem;
  border: 0;
  border-bottom: solid 2px hsl(156, 34%, 19%);
  background-color: transparent;
}

#search__city {
  flex-grow: 5;
}

#search__country {
  flex-grow: 1;
}

#search__btn {
  background-color: transparent;
  flex-grow: 1;
  height: 30px;
  margin: 0.2em;
}

.search__icon {
  color: hsl(156, 34%, 19%);
}

/** Weather */
.weather {
  display: flex;
  height: calc(100% - 2rem);
  max-height: 800px;
  min-height: 400px;
  flex-direction: column;
  /* justify-content: top; */
  align-items: center;
  padding: 3rem 0 3rem;
}

.weather__loc,
.weather__desc,
.weather__temp,
.weather__icon {
  /* padding: 2rem; */
}

.weather__temp {
  font-size: 3.5rem;
  font-weight: 900;
  padding: 2rem 0 1rem;
}
